{{- $href := .Destination -}}
{{- $repoURL := strings.TrimSuffix "/" .Page.Site.Params.repoURL -}}
{{- $sourceRef := .Page.Site.Params.sourceRef | default "dev" -}}
{{- $internalPrefix := "/__ardur_internal__/" -}}
{{- $blobPlaceholder := printf "%s/blob/__ARDUR_SOURCE_REF__/" $repoURL -}}
{{- $treePlaceholder := printf "%s/tree/__ARDUR_SOURCE_REF__/" $repoURL -}}
{{- if strings.HasPrefix $href $internalPrefix -}}
  {{- $href = strings.TrimPrefix $internalPrefix $href | absURL -}}
{{- else if strings.HasPrefix $href $blobPlaceholder -}}
  {{- $href = replace $href $blobPlaceholder (printf "%s/blob/%s/" $repoURL $sourceRef) -}}
{{- else if strings.HasPrefix $href $treePlaceholder -}}
  {{- $href = replace $href $treePlaceholder (printf "%s/tree/%s/" $repoURL $sourceRef) -}}
{{- end -}}
<a href="{{ $href | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
